<div class="cutie col-sm-4 p-3">
    <div class="img_wrapper" >
    <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}">
    <img *ngIf="!property.Image" class="card-img-top" src="assets/images/snk_default.png">
    <ul *ngIf="!hideBtn" class="list-inline text-center member-icons">
        <li class="list-inline-item">
            <button routerLink="/product/{{property.Id}}" class="btn btn-dark"><i class="fas fa-shopping-basket"></i></button>
        </li>
        <li class="list-inline-item">
            <button class="btn btn-dark"><i class="fas fa-heart"></i></button>
        </li>
    </ul>
    </div>
    <div class="descriere">
        <h1 style="color:rgb(190, 1, 1);">{{property.Name}}</h1>
        <!-- String Interpolation -->
        <h2>{{property.Type}}</h2>
        <h3>{{property.Price}}</h3>
    </div>
</div>